@import "../base/color";

.footer-wrapper {
  width: 100%;
  height: fit-content;
  background-color: $light-dec-color;
  padding-top: 40px;
  padding-bottom: 5px;
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .footer-menu {
      width: 40%;
      .footer-menu-item {
        display: flex;
        justify-content: center;
        margin: 10px;
        font-size: 18px;
        a {
          color: $dark-color;
          margin: 10px 5px;
        }
      }
      .footer-menu-contact {
        text-align: center;
        line-height: 1.8;
      }
      .footer-menu-social {
        margin: 10px;
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
  .copyright {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    font-size: 15px;
  }
}
